{% extends "base1.html" %}

{% load static %}
		 <!--Main content-->



{% block content %}

<!--profile header-->

<div class="m_side">
<div class="mid_sec group">
	
	<!--Cover pic-->
	<div class="cover_pic">
		<div class="cover_container">
			<img src="{% static "images/chris_cover.jpg" %}">	
		</div>
	</div>

   <!--Profile header-->
   <div class="col-12 profile_header">
	<div class="col-3 pr_header_dp">
		<img src="{% static "images/batman.jpg" %}" class="vp-profile-pic">
	</div>

	<div class="col-4 pr_header_name">
		<h3>Bruce Wayne</h3>
		<div>
			<button class="btn">Acquaintance &nbsp;
				<span class="caret"></span>
			</button>
		</div>
	</div>

	<div class="col-1 pr_header_conect tooltip">
		<span>365</span><span>&nbsp;cc</span>
		<span class="tooltiptext">Common Connection</span>
	</div>

	<div class="col-3 pr_header_msg">
		
		<div class="pull_right dropdown_click">
			<span class="fa fa-ellipsis-v"></span>
		</div>

		<button class="btn blue_button pull_right">Message</button>
 
	</div>

	
   </div>


<div class="col-12 pro_nav">

   <a href="{% url "public" %}" class="fa fa-globe pro_glo" title="Public Profile"></a>

   <a href="{% url "about" %}" class="id_abt pnbb">About</a>|

   <a href="{% url "shared" %}" class="id_shared pnbb">Shared</a>|

   <a href="{% url "photos" %}" class="id_photo pnbb">Photos</a>
</div>

{% block profile_content %}
{% endblock %}

	
</div>
</div>





{% endblock %}