{% extends "pro_header.html" %}

{% load static %}


{% block title %} Videos {% endblock %}

{% block profile_content %}

<div class="col-12 pro_content">
	<div class="col-12 inner_container">


		<div class=" col-12 photo_nav">
			<a href="{% url "photos" %}" class="id_ph">Photos</a>
			<a href="{% url "videos" %}" class="id_vid">Videos</a>
			<a href="{% url "album" %}" class="id_al">Album</a>
		</div>


		<!--Photos-->
		<div class="photos_view_container h1049">


			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/29498125_1902549423151986_6049595254566817151_n.jpg?_nc_cat=0&oh=79f866e1732f39a0f52f88c4d25a5120&oe=5B5EE96C);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>

			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.14.200.200/p200x200/29468756_1897188447021417_518502573825589248_n.jpg?_nc_cat=0&oh=03e2166dd63555359473ed20929b18e8&oe=5B563C9B);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent.flko1-1.fna.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/27867738_1850584241681838_7191337116012387236_n.jpg?oh=136c78bb6d92fcdfd4358656c444c209&oe=5B24F677);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/29102050_1884203098319952_4470063058139480064_n.jpg?_nc_cat=0&oh=70eda001352d6fffd3a52748d683563e&oe=5B8E027E);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/28872516_1881458691927726_2458929404718350336_n.jpg?_nc_cat=0&oh=df9b9aa237b9c63c973776d5f7855245&oe=5B98B825);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent.flko1-1.fna.fbcdn.net/v/t1.0-0/c0.2.200.200/p200x200/27332675_1824777030929226_7080990236087871545_n.jpg?oh=6289dd1210d402c36e49ffa909272bae&oe=5B1110ED);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/28378285_1871090899631172_5828414431102736646_n.jpg?_nc_cat=0&oh=ac4cb77ba9e8ec2464f16c51aa71e0ee&oe=5B8C8FB5);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.24.200.200/p200x200/27750085_1849240258482903_5460163706255599089_n.jpg?_nc_cat=0&oh=3aac59f3572c7b744a788b943f62be66&oe=5B8C7690);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.3.200.200/p200x200/26907440_1824778260929103_7846506829781336827_n.jpg?_nc_cat=0&oh=d94bee9a7c76264863f53aa093f59a10&oe=5B94F835);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/26908012_1824777074262555_1076529125137702434_n.jpg?_nc_cat=0&oh=3193824e8534d380fcdf978d6c084fb9&oe=5B5B2A1D);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/26993530_1819738778099718_6583041592537037866_n.jpg?_nc_cat=0&oh=3db63f75ff668cab9b67f852364adcd8&oe=5B93438F);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c74.0.200.200/p200x200/26229639_1803148459758750_2486001173309584116_n.jpg?_nc_cat=0&oh=07c529888791ccf941cc36339d95a956&oe=5B50EC7B);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/26169018_1796946437045619_494453183289149956_n.jpg?_nc_cat=0&oh=68c5c78cf3fd015f61c797bf4245fabb&oe=5B91C9F9);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c73.0.200.200/p200x200/26056116_1791459337594329_530434017374565981_n.jpg?_nc_cat=0&oh=18cc87f7893814bc88f05997c0b5ab15&oe=5B556CD3);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.48.200.200/p200x200/26047225_1789142794492650_5186491709989537911_n.jpg?_nc_cat=0&oh=bee3a67cc57c56df232d1a28160fa356&oe=5B5A8A02);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/26165493_1788458111227785_194457063035996391_n.jpg?_nc_cat=0&oh=80ccc6e449e0e6b33fdff48e6616c661&oe=5B90EDB4);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/25659561_1786816911391905_6745240948310838118_n.jpg?_nc_cat=0&oh=68a8c07f1389ab9d8f53cbdd674f9939&oe=5B95207D);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/25498040_1779659988774264_6887117075364692004_n.jpg?_nc_cat=0&oh=ed30ff604de68f93319ae0974e6ddf18&oe=5B8F8081);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.7.200.200/p200x200/25289707_1769622636444666_5377092851983291111_n.jpg?_nc_cat=0&oh=241e17e98045c6018049994863e1e198&oe=5B8FE08E);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/23316746_1725570614183202_2515720104916210824_n.jpg?_nc_cat=0&oh=d0473d103a6324ab808b9f8c4ccda6f2&oe=5B8EF3FA);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/23376191_1724438360963094_3337647442282173990_n.jpg?_nc_cat=0&oh=0882c8a125c527680c5c08bf59145894&oe=5B8B29F4);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.33.200.200/p200x200/23130698_1719401311466799_1931897496937386264_n.jpg?_nc_cat=0&oh=4309a08375562651e7014ff706c822bb&oe=5B5B7141);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/22894510_1715730278500569_3216260467590797942_n.jpg?_nc_cat=0&oh=edbdcf933336c8c528e23afae29e4c0f&oe=5B8A60EE);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.36.200.200/p200x200/22852915_1711668435573420_6816919519560820883_n.jpg?_nc_cat=0&oh=6152fbc3942a1b930c283d897890274c&oe=5B977835);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/22450133_1697033853703545_2530447215068308309_n.jpg?_nc_cat=0&oh=a7abda2de95a56c886c75d6210276aab&oe=5B56711B);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c33.0.200.200/p200x200/22491522_1696692193737711_4578711870446702612_n.jpg?_nc_cat=0&oh=c6546500bc719b53c0ad60be12d073d2&oe=5B942506);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/p200x200/22405456_1693372650736332_5009319966536921285_n.jpg?_nc_cat=0&oh=5a9e4c7df97fdf92171e8bb921760f5b&oe=5B556810);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/22281691_1688407064566224_4219878252919121662_n.jpg?_nc_cat=0&oh=0bc52feabc48221d6571de919e607fb8&oe=5B50381A);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.50.200.200/p200x200/21687996_1668175789922685_7550560111717514620_n.jpg?_nc_cat=0&oh=b6022847c10d6d9313c5a90ec35f674d&oe=5B8CC8FE);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/21761674_1667520503321547_6576216392532054722_n.jpg?_nc_cat=0&oh=aa8ab70f555d420babe4dabc4d003332&oe=5B55CB33);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			<a href="{% url "about" %}" class="photos_view" style="background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-0/c0.36.200.200/p200x200/21558554_1664478050292459_4096697388421879213_n.jpg?_nc_cat=0&oh=b079192aa04f695addd36927e04dc8f0&oe=5B56142C);">

				<span class="activity">♥ 155 &nbsp; &nbsp;  ♠ 2</span>
				
			</a>

			

			
		</div>

		<!--Chev for the photos-->
		<div class="col-12 chev_button" id="chev_p">
			<span class="fa fa-chevron-down chev_d" id="chev_p2"></span>
		</div>



	</div>
</div>





{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static "scripts/main.js" %}"></script>
{% endblock %}


